.article {
	display: grid;
	grid-template-columns: minmax(0, 440px) 1fr;
	gap: 20px;
	padding-top: 78px;
	min-height: 320px;

	@media (max-width: 991px) {
		grid-template-columns: 1fr;
	}

	.imageWrap {
		position: relative;
		width: 100%;
		min-width: 0;
		aspect-ratio: 440/320;
		overflow: hidden;
		.image {
			object-fit: cover;
			display: block;
			overflow: hidden;
			transition: border-radius 0.3s ease;
		}
	}
}

.content {
	max-width: 520px;

	.title {
		margin: 0;
		margin-bottom: 20px;
		font-size: var(--font-size-h1);
		font-weight: 600;
		line-height: 110%;
		text-transform: uppercase;
	}
	.date {
		color: var(--white);
		font-size: var(--font-size-text);
		line-height: 130%;
		font-weight: 400;
		opacity: 0.5;
	}

	.descriptionWrap {
		max-width: 440px;
		.subtitle {
			font-size: var(--font-size-h3);
			font-weight: 600;
			line-height: 110%;
			text-transform: uppercase;
			margin-top: 40px;
			margin-bottom: 20px;
		}

		.text {
			margin: 0;
			font-size: var(--font-size-text);
			line-height: 130%;
			color: var(--white);
			white-space: pre-line;
		}
	}

	@media (max-width: 991px) {
		max-width: 100%;
	}

	@media (max-width: 480px) {
		max-width: 100%;
		padding: 0 10px;

		.title {
			font-size: var(--font-size-h2);
		}
	}
}

.footer {
	width: 100%;
	background: var(--gradient);
	margin-top: 150px;
	min-height: 248px;
  display: flex;

	& > *:first-child {
		grid-column: 1;
	}

	& > *:last-child {
		grid-column: 2;
		justify-self: center;
	}

	.footerWrap {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		width: 100%;
		padding: 0 40px;
    column-gap: 30px;

    .footerText {
      font-size: var(--font-size-h2);
      font-weight: 600;
      line-height: 110%;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }

		@media (max-width: 480px) {
			max-width: 191px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
			padding: 95px 0;
      margin: 0 auto;

			.footerImage {
				width: 120px;
				height: 144px;
			}
		}
	}
}
